h1,p{
    text-align: left;
}
h1{
    margin-left:1rem;
}
.subheroclass{
    margin-top:10rem;
    background-color: #f4fbfd;;
}
#icons{
    margin-right:1rem;
    
}
.facilites{
    text-decoration: none;
    list-style-type: none;
  
}
li{
    display:inline-block;
    margin-right:3rem;
    margin-top:3rem;
    text-align: left;
    justify-content: center;
    }


#subheroimg{
    width:100%;
    height:550px;
}
#icons p{
    display:inline-block;
    padding-left:10px;
    padding-right:1rem;
}